<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>angry</string>
	<string>disgust</string>
	<string>fear</string>
	<string>happy</string>
	<string>sad</string>
	<string>surprise</string>
	<string>neutral</string>
</array>
</plist>
